@media only print {
  	body > div {
  		border: none;
  	}

  	body > div > div {
  		border: none;
  	}

  	aside.sidebar {
  		border: none;
  	}

	header, footer, nav { 
		display: none; 
	} 

	.entry-content {
		padding-top: 5em;
	}

	.print-footer {
		display: block;
		float: right;
		margin-top: 1.5em;
		font-size: 80%;
		border-top: 1px solid black;
	}
}
