// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
span.quote {
	font-size: 3em;
	line-height: 1.5em;
}

span.by {
	font-size: 2em;	
}